.account
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 216px;

    cursor: pointer;
}

.account .title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;

    height: auto;

    letter-spacing: 1px;

    color: #fff;
}

.account .picture
{
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;

    height: 94px;
}
