.header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    width: 100%;
    height: 90px;

    background-image: -webkit-gradient(linear, left top, right top, from(#85d4f5), to(#cce1ff));
    background-image: linear-gradient(to right, #85d4f5, #cce1ff);
}

.header .logo
{
    width: 223px;
    height: 56px;
}
